body{
  font-family:Menlo, Monaco, Consolas, 'Courier New';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: rgb(8, 8, 46);

}
.center{
  /* border: 1px solid cadetblue; */
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  /* justify-content: lef; */
  align-items: center;
  margin: 0px;
}

img{
  height: 50px;
  width: 50px;
  margin-top: 20px;

}
.heading{
color: white;
}
input{
  height: 27px;
  width: 85%;
  color: rgb(24, 24, 179);
  padding-left: 20px;
}
.span{
  position: relative;
  display: inline-block;
  width: 100%;
}
.btnn{
  position: absolute;
  top: 50%;
  right: 33px;
  transform: translateY(-50%);
  cursor: pointer;
}
.list{
  /* border: 1px solid white; */
  width: 90%;
  /* display: inline; */
  margin-top: 20px;
  height: auto;
  color: white;
  

}
.list h4{
  background-color: white;
  padding-top: 2px;
  position: relative;
  /* height: auto; */
  top: 0px;
  text-align: left;
  padding-left: 20px;
  top: -20px;
  margin-bottom: 0px;
  text-transform: capitalize;
  color: black;
  overflow: hidden;
}

.btnnn{
  position: absolute;
  top: 30%;
  right: 17px;
  transform: translateY(-50%);
  cursor: pointer;
}
.check{
  /* margin-top: 15px; */
  height: 40px;
  padding: 0px 20px;
  cursor: pointer;
}
